h1{
    display: inline;
    color: #4E6C50;
    font-family: 'Montserrat', sans-serif;
}

h2{
    
}

h3{
    display: inline;
    font-family: 'Playfair Display', serif;
}

p{
    color:grey;
}

#testimonials{
    background-color: #F2DEBA;
    text-align: center;
    padding: 70px 0;
}

.testimonial-img{

    padding: 3%;
    width: 15%;
}

.testimonial-text{
    padding-top: 4%;
}

.title-image{

    width: 90%;
    border-radius: 100%;
    padding-left: 50px;
    margin-top: 100px;
}

#title{

    background-color: #F2DEBA;
}

.navbar-container{

    padding: 0;
}

.navbar-button{
    color:#4E6C50;
}

.features-row{
    background-color: #FAECD6;
}

#footer{
    text-align: center;
    padding: 2% auto;
    background-color: #FAECD6;
}

.social-icon{
    padding: 30px 10px;
}

.carousel-item{
    padding: 5%;
}

.nav-link{
    margin-right: 25px;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.copyright{
    margin: 0;
}

.features-row{
    padding: 8% 15%;
    margin: auto;
}

.feature-box{
    padding: 30px;
}

#recipes{
    margin: 5% 10%;
    text-align: center;
}

.pricing-column{

    padding: 3rem;
}

.big-heading{
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.small-heading{
    font-size: 2rem;
    font-weight: 300;
}

.download-button{

    margin: 5% 3% 5% 0;
    height: 50px;
}

.recipe-button{

    padding: 8px 30px;
}

.feature-icon{
    color: #4E6C50;
    margin-bottom: 1rem;
}

.navbar-brand{
    color: #4E6C50;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 700;
}

.nav-link{
    color: #4E6C50;
}

.navbar{
    padding: 0 0 5rem;
}

.feature-image{
    width: 90%;
    border-radius: 100%;
    margin: 10% 0;
}

.feature-image3{
    width: 90%;
    border-radius: 100%;
    margin: 10% 0;
}

.note-icon{
    padding: 0 10px 0 0;
}

.plane-icon{
    padding: 0 7px 0 0;
}

#features{
    text-align: center;
}

.insta-icon{
    color: black;
}
